body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

#calculator {
    width: 320px;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#result {
    background-color: #000;
    color: #fff;
    font-size: 48px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.button-row {
    display: flex;
}

.button {
    flex: 1;
    height: 80px;
    margin: 1px;
    border: none;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    background-color: #505050;
    color: #fff;
}

.operator {
    background-color: #f09a36;
    color: #fff;
}

.function {
    background-color: #d4d4d2;
    color: #000;
}

.number.zero {
    flex: 2;
}

.button:active {
    opacity: 0.8;
}
